


.services-banner-overlay{background: linear-gradient(180deg, rgba(0, 95, 159, 0.75) 0%, #005F9F 100%);}
.services-banner-text, .ai-helper{flex: 100%;}
.services-banner-text h1{margin-bottom: 32px; letter-spacing: -1.12px;}
.services-banner-text hr{margin: 0 0 32px 0;}

.ai-helper-thumb{max-width: 104px;}
.ai-helper-thumb img{mix-blend-mode: difference;}
.ai-helper-shadow{box-shadow: 0px 0px 48px 0px rgba(2, 107, 182, 0.50);}
.ai-helper-text{text-align: left; color: var(--White); flex: 1;}
.ai-helper-text h2{margin-bottom: 8px; letter-spacing: -0.48px;}
.ai-helper-text h2 span{color: var(--Electric-Blue);}
.ai-helper-signup{width: 100%;}
.ai-helper-field-wrap input{border-radius: 20px; border: 3px solid rgba(28, 204, 243, 0.24); background: rgba(0, 0, 0, 0.50); width: 100%; padding: 19px 8px 19px 20px; outline: none; font-size: 18px; line-height: 27px; color: var(--White); font-style: italic;}
body .ai-helper-signup .frm_forms .frm_form_fields .frm_form_field.field_submit{right: 11px; top: 11px; height: 49px; width: 49px; margin: 0; display: block; position: absolute;}
body .ai-helper-signup .frm_forms .frm_form_fields .frm_form_field.field_submit button.frm_button_submit{background: var(--Blue-Gradient3); border-radius: 12px; padding: 10.5px; font-size: 0; line-height: normal;}
body .ai-helper-signup .frm_forms .frm_form_fields .frm_form_field.field_submit button.frm_button_submit svg{width: 28px; height: 28px;}
body .ai-helper-signup .frm_forms .frm_form_fields .frm_form_field input::placeholder{color: var(--White); font-family: var(--base-font); opacity: .4;}

.services-banner-lists{gap: 40px;}
.services-banner-item{padding: 16px;}
.services-item-image{margin-bottom: 20px;}
.services-item-text{padding: 8px 16px 16px; color: var(--Text);}
.services-item-text h2{color: var(--Navy); letter-spacing: -0.64px;}

.services-icon-wrap{margin-bottom: 24px; gap: 24px;}
.services-icon-thumb{max-width: 72px;}
.services-icon-wrap h2{margin-bottom: 0; flex: 1;}
.services-icon-desc{margin-bottom: 24px;}

@media screen and (min-width: 1024px) {
    .services-banner-section{z-index: 0; background: linear-gradient(0deg, var(--Navy) 0%, var(--YD-Blue) 100%); }
    .services-banner-bg{max-height: 960px; position: fixed;}
    .sevices-banner-main{padding: 208px 0 105px; gap: 80px;}
    .services-banner-lt, .services-banner-rt{flex: 1;}
    .services-banner-text{margin-bottom: 40px;}

    .ai-helper{flex: 1; padding: 32px; background: rgba(0, 0, 0, 0.50);}
    .ai-helper-inner{gap: 24px 32px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .sevices-banner-main{padding: 208px 0 105px; gap: 40px;}
    .services-banner-lt, .services-banner-rt{flex: 1;}
    .services-banner-text{margin-bottom: 40px;}
    .services-banner-text h1{font-size: 40px; line-height: 48px; letter-spacing: -0.8px;}
    .services-item-text h2{font-size: 22px; line-height: 33px;}

    .ai-helper{gap: 24px 20px; padding: 24px 24px 21px;}
    .ai-helper-inner{gap: 24px 20px;}
    .ai-helper-thumb{max-width: 89px;}
    .ai-helper-text{flex: 1; font-size: 16px; line-height: 24px; text-align: left;}
    .ai-helper-text h2{margin-bottom: 8px; font-size: 20px; letter-spacing: -0.4px; line-height: 24px; }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .services-banner-section{margin-top: 80px;}
    .services-banner-bg{position: relative;}
    .services-banner-overlay{display: none;}
    .services-banner-section .container{padding: 0;}
    .services-banner-lt, .services-banner-rt{flex: 100%;}
    .services-banner-lt{padding: 24px 24px 0; background: var(--YD-Blue);}
    .services-banner-text{padding: 24px 0; font-size: 16px; line-height: 24px; margin-bottom: 16px;}
    .services-banner-text span.optional-text{margin-bottom: 16px;}
    .services-banner-text h1{font-size: 32px; line-height: 38.4px; letter-spacing: -0.64px; margin-bottom: 16px;}
    .services-banner-text hr{margin: 0 0 16px 0;}
    .services-banner-rt{padding: 24px; background: var(--Blue-Gradient5);}

    .ai-helper{padding: 20px 20px 17px; margin-top: 8px;}
    .ai-helper-inner{gap: 20px 16px;}
    .ai-helper-thumb{max-width: 73px;}
    .ai-helper-text{flex: 1; font-size: 16px; line-height: 24px; }
    .ai-helper-text h2{margin-bottom: 2px; font-size: 18px; letter-spacing: -0.36px; line-height: 21.6px; }

    .services-banner-lists{gap: 32px;}
    .services-item-text{padding: 0; font-size: 16px; line-height: 24px;}
    .services-item-text h2{font-size: 20px; line-height: 24px; letter-spacing: -0.4px;}
    .services-item-text .button{font-size: 16px; width: 100%;}
}