
.repeater-reverse{flex-direction: row-reverse;}
.repeater-video-text{color: var(--Navy);}
.repeater-video-text h2{margin-bottom: 24px; letter-spacing: -0.8px;}

.inline-video-main{position: relative;}
.inline-video-main iframe{opacity: 0; visibility: hidden; transition: var(--transition-8); width: 100%; height: 100%; top: 0; left: 0; position: absolute; border-radius: 16px; z-index: 0;}
.open-iframe iframe{opacity: 1; visibility: visible;}
.play-inline-video{transition: var(--transition-8);}
.open-iframe .play-inline-video{opacity: 0; visibility: hidden;}


@media screen and (min-width: 1024px) {
    .repeater-video-main{padding: 80px 0; gap: 80px;}
    .repeater-video-list{gap: 80px;}
    .repeater-video-image{flex: 1;} 
    .repeater-video-text{flex: 0 0 400px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .repeater-video-main{padding: 40px 0; gap: 40px;}
    .repeater-video-list{gap: 40px;}
    .repeater-video-image, .repeater-video-text{width: 100%;}
    body.home .repeater-video-image, .repeater-video-text{flex: 1;}
    .repeater-video-text{font-size: 16px; line-height: 24px;}
    .repeater-video-text h2{font-size: 32px; line-height: 38.4px; letter-spacing: -0.64px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .repeater-video-main{padding: 24px 0; gap: 32px;}
    .repeater-video-list{gap: 24px;}
    .repeater-video-image, .repeater-video-text{width: 100%;}
    .repeater-video-text{font-size: 16px; line-height: 24px; }
    .repeater-video-text h2{font-size: 24px; line-height: 28.8px;}
}