

header.site-header{top: 0; left: 0; width: 100%; height: auto; position: absolute; z-index: 850; transition: transform 0.5s ease;}
header.site-header::after{content: ""; width: 100%; height: 100%; top: 0; left: 0; display: block; position: absolute; z-index: -1;}
header.site-header.up{background: var(--Blue-Gradient2); transform: translateY(0%); position: fixed;}
header.site-header.down{background: transparent; transform: translateY(-100%);}

.logo a{width: 100%; height: 100%; display: block;} 
.logo a img{width: 100%; object-fit: cover;}

ul.header-feature{justify-content: flex-end; gap: 12px;}
ul.header-feature > li a{background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(2px); padding: 10px; align-items: center; font-size: 16px; line-height: 16px; font-weight: 700; gap: 8px; color: var(--White); transition: var(--b-transition); }
ul.header-feature > li a.p-12{padding: 10px 12px;}
ul.header-feature > li a:hover{background: var(--White); color: var(--YD-Blue);}
.header-feature-thumb{width: 20px;}

ul.main-menu{justify-content: flex-end; gap: 24px;}
.main-menu > li{line-height: 100%; }
ul.main-menu > li a{font-size: 20px; line-height: 20px; font-weight: 700; color: var(--White); }
ul.main-menu > li a:hover{color: var(--Red); }

.header-overlay, .h-mobile-overlay{top: 0; visibility: hidden; opacity: 0; background: var(--Navy); backdrop-filter: blur(10px); width: 100vw; height: 100vh; position: fixed; z-index: -2; transition: all 0.3s ease;}
.header-overlay.open, .h-mobile-overlay.open{visibility: visible; opacity: 1;}

body.page-template-yd-perks-page header.site-header,
body.page-template-resources-default-page header.site-header{background: var(--Blue-Gradient2);}
body.page-template-resources-post-video-page header.site-header{background: var(--Blue-Gradient2);}
body.page-template-resources-page header.site-header{background: var(--YD-Blue);}

body.page-template-contact-page header.site-header{background: linear-gradient(180deg, var(--Navy) 0%, rgba(0, 95, 159, 0.00) 100%);}
body.page-template-contact-page header.sticky-header{background: var(--Blue-Gradient2);}

/* media css starts here */
@media screen and (min-width: 1024px) {
    .header{padding: 24px 0; gap: 40px;}
    .logo{flex: 0 0 241px;}
    .header-right{flex: 1; justify-content: flex-end; gap: 20px;}

}
@media screen and (min-width: 1340px){

}
@media screen and (max-width: 1339px) and (min-width: 1024px){

}
@media screen and (max-width: 1199px) and (min-width: 1024px){

}
@media screen and (max-width: 1023px) and (min-width: 768px){
    header.site-header{background: var(--Blue-Gradient2);}
    header.site-header::after{background: var(--Blue-Gradient2);}
    .header{padding: 20px 48px 20px 0; gap: 40px; position: relative; z-index: 2;}
    .logo{flex: 0 0 187px;}
    .header-right{flex: 1; justify-content: flex-end; gap: 20px;}

    .humburger-btn{width: 40px; height: 40px; right: 0; cursor: pointer; display: block; z-index: 1; background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(2px);}
    .humburger-btn span{width:100%; height: 2px; left: 0; right:0; max-width: 28px; margin:0 auto; opacity:1; transition: var(--b-transition); background-color:var(--Electric-Blue); display:block; position:absolute }
    .humburger-btn span:first-child{top: 12px }
    .humburger-btn span:nth-child(2){top: 20px }
    .humburger-btn span:nth-child(3){top: 28px; }
    .humburger-btn span{max-width: 20px;}
    .humburger-btn.open span:first-child {top: 20px; transform:rotate(45deg) }
    .humburger-btn.open span:nth-child(2) {transform: scale(0); }
    .humburger-btn.open span:nth-child(3) {top: 20px; transform:rotate(-45deg) }

    ul.main-menu{padding: 0; top: 100%; transform: translateX(100%); left: -40px; width: 100vw; height: auto; position: absolute; transition: transform .5s ease; flex-direction: column-reverse;}
    ul.main-menu.open{transform: translateX(0);}

    ul.main-menu{margin: 0; display: block; background-color: var(--White); border-radius: 0 0 24px 24px;}
    ul.main-menu > li > a{padding: 16px 80px 16px 40px; border-bottom: 2px solid var(--Background-B); display: block; color: var(--YD-Blue); font-size: 20px; font-weight: 600; line-height: 20px; position: relative;}
    ul.main-menu > li:last-child > a{border-bottom: none;}
    ul.main-menu > li > a::after{top: 50%; transform: translateY(-50%); right: 40px; font-size: 24px; line-height: 24px; content: "\f054"; font-weight: 300; font-family: "Font Awesome 6 Sharp"; display: block; position: absolute; color: var(--Red); transition: var(--b-transition);}
    ul.main-menu > li > a:hover{color: var(--Red);}
    ul.main-menu > li > a:hover::after{right: 35px;}

    ul.header-feature{gap: 8px; }
}
@media screen and (max-width: 767px) and (min-width: 200px){
    header.site-header{background: var(--Blue-Gradient2);}
    header.site-header::after{background: var(--Blue-Gradient2);}
    .header{padding: 16px 0; gap: 16px; position: relative; z-index: 2; justify-content: center;}
    .logo{flex: 0 0 161px;}

    .humburger-btn{width: 48px; height: 48px; left: 0; cursor: pointer; display: block; z-index: 1; background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(2px);}
    .humburger-btn span{width:100%; height: 2px; left: 0; right:0; max-width: 28px; margin:0 auto; opacity:1; transition: var(--b-transition); background-color:var(--Electric-Blue); display:block; position:absolute }
    .humburger-btn span:first-child{top: 15px }
    .humburger-btn span:nth-child(2){top: 23px }
    .humburger-btn span:nth-child(3){top: 31px; }
    .humburger-btn span{max-width: 24px;}
    .humburger-btn.open span:first-child {top: 23px; transform:rotate(45deg) }
    .humburger-btn.open span:nth-child(2) {transform: scale(0); }
    .humburger-btn.open span:nth-child(3) {top: 23px; transform:rotate(-45deg) }

    .header-right{padding: 0; top: 100%; transform: translateX(100%); left: -40px; width: 100vw; height: auto; position: absolute; transition: transform .5s ease; flex-direction: column-reverse;}
    .header-right.open{transform: translateX(0);}

    ul.main-menu{margin: 0; display: block; background-color: var(--White); border-radius: 0 0 24px 24px;}
    ul.main-menu > li > a{padding: 16px 40px 16px 24px; border-bottom: 2px solid var(--Background-B); display: block; color: var(--YD-Blue); font-size: 20px; font-weight: 600; line-height: 20px; position: relative;}
    ul.main-menu > li:last-child > a{border-bottom: none;}
    ul.main-menu > li > a::after{top: 50%; transform: translateY(-50%); right: 21px; font-size: 24px; line-height: 24px; content: "\f054"; font-weight: 300; font-family: "Font Awesome 6 Sharp"; display: block; position: absolute; color: var(--Red); transition: var(--b-transition);}
    ul.main-menu > li > a:hover{color: var(--Red);}
    ul.main-menu > li > a:hover::after{right: 18px;}

    ul.header-feature{display: block; padding: 24px;}
    ul.header-feature > li{margin-bottom: 8px;}

}
@media screen and (max-width: 767px) and (min-width: 200px){
    .header-right{left: -24px; }
    .cart-btn-mob{right: 0; width: 48px; height: 48px; background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(2px);}
    .cart-btn-mob:hover{background: var(--White); backdrop-filter: blur(0);}
    .cart-btn-mob a{height: 100%;}
    .cart-btn-thumb{width: 24px;}

}
@media screen and (max-width: 370px) and (min-width: 200px){

}